<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
</head>
<body>


    <h1>Книжки</h1>

    <header>

    </header>

    <main>
        <!--  -->
        <h2>
            Оно
        </h2>

        <img src="{% static 'Main/img/ono.webp' %}" alt="">

        <p>
            Колись давно семеро підлітків лицем до лиця зіткнулися із невимовним Жахом — і змогли перемогти. Але багато років по тому істота, що не має імені, повертається, щоб помститися… Воно наче випірнуло з нічних кошмарів. Воно живиться страхом і ненавистю. Воно причаїлося всюди… Старі друзі мусять зустрітися з Ним і знову зазирнути у вічі справжньому жаху…
        </p>
        <!--  -->
        <h2>
            Під Куполом
        </h2>

        <img src="{% static 'Main/img/kupol.webp' %}" alt="">

        <p>
            Перевидання на численні прохання фанатів Кінга Одного разу маленьке містечко в штаті Мен зовсім несподівано виявляється відрізаним від зовнішнього світу прозорим куполом. Ніхто не може виїхати, ніхто не може виїхати. І доки поселенням шириться паніка, місцевий бізнесмен Великий Джим бере владу у свої руки. Оновлення кадрового складу поліції та бандитський стиль управління нового керівника призводять до зростання свавілля та насильства під Куполом. Ззовні витікають темні секрети мешканців, тоді як кількість жертв зростає. І лише невелика група людей разом із колишнім армійцем Дейлом "Барбі" Барбарою намагається з'ясувати причини появи Купола і позбутися його.
        </p>
        <!--  -->
        <h2>
            Найбагатіша чоловік у вавілоні
        </h2>

        <img src="{% static 'Main/img/richman.webp' %}" alt="">
        <p>
            Найбагатша людина у Вавилоні. Секрети першого мільйонера. Джордж Клейсон
            Дана книга про те, як досягти фінансового благополуччя. У ній у формі притч викладено секрети/закони/поради (називайте, як хочете) збагачення. Автор переносить нас у часи процвітання Вавилону, як відомо, дуже багатого міста. Герої притч — вавилоняни, які були жебраками, але зуміли вийти зі злиднів і стати дуже багатими людьми. Вони передають свій досвід тим, хто теж хотів би жити в достатку та забезпечити собі та своїм сім'ям безбідне майбутнє. Книжка маленька за обсягом, читається швидко і легко завдяки притчевому характеру розповіді. Початок мені сподобався, надихнув та налаштував на продуктивне читання.
        </p>
        <!--  -->

        <h2>
            У кінці вони обидва помруть
        </h2>

        <img src="{% static 'Main/img/end.webp' %}" alt="">

        <p>
            Якось уночі співробітники Відділу Смерті дзвонять Матео Торресу та Руфусу Еметеріо, щоб повідомити їм погані новини: сьогодні вони помруть. Матео та Руфус не знайомі, але обоє з різних причин шукають собі друга, з яким проведуть Останній День. На щастя, спеціально для цього є додаток Останній друг, який допомагає їм зустрітися та разом прожити ціле життя за один день.
        </p>

    </main>

    <footer>
        <a href="/book/">Книга</a>
    
        <p>
            <a href="/author/">Автор</a>
        </p>

    </footer>
</body>
</html>